.upload-container :global(.ant-upload-list) {
  display: none;
}
.buttonList button:not(:last-child):after {
  content: '|';
  position: relative;
  left: 5px;
  color: #dfe1e8;
}
.buttonList .cfListButton {
  display: inline-block;
}
.buttonList :global .ant-btn-link {
  padding: 0;
}
.setting-sub {
  display: inline-block;
  font-weight: 400;
  color: #1785ec;
}
.cf-button-modal-dialog :global table {
  width: 100% !important;
}
.cf-button-modal-dialog-bind {
  width: 1200px !important;
}
.cf-button-modal-dialog-bind .ant-modal-body {
  height: 600px;
}
.cf-button-modal-dialog-bind .ant-modal-body .ss-compose-manage-container {
  height: 100% !important;
  overflow: hidden !important;
  padding: 0 !important;
}
.cf-button-modal-dialog-bind .ant-modal-body .ant-table-wrapper {
  height: calc(100% - 133px);
  overflow: auto;
}
.cf-button-modal-dialog-rule {
  width: 500px;
  overflow: auto;
}
.cf-button-modal-dialog-rule .ant-modal-body {
  padding: 24px 24px;
  max-height: 472px;
  overflow: scroll;
}
.cf-button-modal-dialog-rule .ant-modal-body .vertical {
  display: flex;
  flex-direction: column;
}
.sub-button-modal-dialog .ant-modal-body {
  padding: 24px 24px;
  max-height: 472px;
  overflow: scroll;
}
.sub-button-modal-dialog .ant-modal-body .vertical {
  display: flex;
  flex-direction: column;
}
.sub-button-modal-dialog .ant-checkbox-group > * {
  margin-bottom: 8px;
}
.qr-button-modal-dialog .ant-modal-body {
  padding: 24px 24px;
  height: 426px;
}
.bind-btn {
  width: 56px;
  height: 22px;
  font-size: 14px;
  font-weight: 400;
  color: #1785ec;
  line-height: 22px;
  cursor: pointer;
  margin-left: 8px;
}
.device-rule-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.device-rule-item:last-child {
  margin-bottom: 0px;
}
.device-week {
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  margin-right: 6px;
}
.device-rule-type {
  width: auto;
  background: #d9ecff;
  font-size: 13px;
  color: #1785ec;
  padding: 1px 6px;
  border-radius: 4px;
  margin-right: 6px;
}
.device-show-all {
  height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #1786ec;
  line-height: 20px;
  cursor: pointer;
}
.device-rule-list {
  display: flex;
  margin-bottom: 6px;
  min-width: 1000px;
  align-items: center;
}
.device-rule-list .device-rule-item {
  margin-bottom: 0 !important;
}
.device-rule-list:last-child {
  margin-bottom: 0px;
}
.device-time {
  margin-right: 6px;
}
